ul { list-style-type: upper-alpha; }

ul ul { list-style-type: upper-roman; }

ul ul ul { list-style-type: decimal; }

ul ul ul ul { list-style-type: lower-alpha; }

ul ul ul ul ul { list-style-type: lower-roman; }

ul ul ul ul ul ul { list-style-type: circle; }

ul ul ul ul ul ul ul { list-style-type: square; }

ul ul ul ul ul ul ul ul { list-style-type: disc; }
